body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

.App {
    width: 100%;
    height: 100%;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.button-primary {
    padding: 6px 20px;
    border: none;
    background: #2FC4B2;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
    z-index: 101;
}

.button-secondary {
    padding: 6px 20px;
    border: none;
    background: #E7E7E7;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 101;

}

.link {
    text-decoration: none;
}